@font-face {
  font-family: 'main';
  src: url('@/assets/fonts/icomoon.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  /*url('@/static/fonts/icomoon.ttf') format('truetype'); !* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 *!*/
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'main' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

.icon-arrow-left::before {
  content: "\e9a9";
}

.icon-arrow-right::before {
  content: "\e9a9";
}

.icon-arrow-up::before {
  content: "\e9a9";
}

.icon-arrow-down::before {
  content: "\e9a9";
}
